<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="{% url 'home' %}">Animifo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'blogHome' %}active{% endif %}">
          <a class="nav-link" href="{% url 'blogHome' %}">Blog</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li> 
      </ul>
      <div class="ml-auto form-inline">
      <form method="GET" class="my-2 my-lg-0" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" name="query" id="query" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>

        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome {{request.user}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'handleLogout' %}">Logout</a>
            </div>
          </li>
        </ul>
          
        {% else %}
          <button type="button" class="btn btn-outline-dark mx-2" data-toggle="modal" data-target="#signupModal">
            Sign up
          </button>

          <button type="button" class="btn btn-outline-dark mr-2" data-toggle="modal" data-target="#loginModal">
            Login
          </button>
        {% endif %}
        </div>
    </div>
  </nav>