{% extends 'base.html' %}
{% load humanize %}

{% block title %} | Welome {% endblock %}
{% block content %}

<!-- Alerts Message -->
{% include 'partials/_messages.html' %}

  <!-- Showcase -->
  <section id="showcase">
    <img src="" alt="">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Gardening At Home Has Become So Easy
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>

          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Package Name, Species, etc)">
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <select name="plants" class="form-control">
                    <option selected="true" disabled="disabled">Number of plants (All)</option>
                    {% for key,value in num_plants.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Price(Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">৳ {{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-3">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
          <!-- Listing 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" style="height: 400px; width: 350px;" src="{{ listing.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">&#2547; {{ listing.price | intcomma }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                  <p>
                    <i class="fas fa-tree text-secondary"></i> {{ listing.species }}</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-seedling"></i> Plants: {{ listing.plants }}</div>
                  <div class="col-6">
                    <i class="fas fa-fill-drip"></i> Fertilizer: {{ listing.fertilizer }}kg</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-truck-loading"></i> Soil: {{ listing.soil }}kg
                  </div>
                  <div class="col-6">
                    <i class="fas fa-truck-pickup"></i> Available: Yes! 
                  </div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{ listing.farmer }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{ listing.created_date|timesince }} </div>
                </div>
                <hr>
                <a href="{% url 'details' listing.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No current listings available.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="services" class="py-3 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Cosutlt with our experienced farmers for various gardening hacks & tips.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Plan Management</h3>
          <p>Cotact directly with our staffs for a planning of your desire & interest.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Farming & Donation</h3>
          <p>You can become a part of our campaign of 100,000 thousands trees in a year with a small Donation.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

