<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <br>
<div class="text-center">
    <h2>Delete Task</h2>

    <p>Are you sure you completed "{{task}}"? </p>
    <form action="" method="POST">
        {% csrf_token %}
        <a class="btn btn-sm btn-warning" href="{% url 'index' %}">Cancel</a>
        <input class="btn btn-sm btn-danger" type="submit" value="Delete">
    </form>
</div>