{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">

    {% include 'partials/_alerts.html' %}
    <div class="container">
        <div class="form-row">
            {% include 'partials/_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Edit Your Profile</strong>
            </header>
            <div class="card-body">
                <div class="text-right">
                    <img src="{{ user_profile.profile_picture.url }}" alt="profile_picture" width="80" style="border-radius:50%">
                </div>
                <div class="row"> 

                    <div class="col-md-12">
                      <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                           <div class="row">
                                <div class="form-group col-md-6">
                                    <label>First Name</label>
                                    {{user_form.first_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last Name</label>
                                    {{user_form.last_name}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Phone</label>
                                    {{user_form.phone}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Profile Picture</label>
                                    {{profile_form.profile_picture}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Address Line 1</label>
                                {{profile_form.address_line_1}}
                            </div>
                            <div class="form-group">
                                <label>Address Line 2</label>
                                {{profile_form.address_line_2}}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>City</label>
                                    {{profile_form.city}}
                                </div>
                                <div class="form-group col-md-4">
                                    <label>State </label>
                                    {{profile_form.state}}
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Country Picture</label>
                                    {{profile_form.country}}
                                </div>
                            </div>

                            <button type="submit" class=" btn btn-outline-primary">Submit</button>
                      </form>
                    </div>
                </div> 
            </div> 
            </article> 
        </main>
    </div>
    </div>
    
    
    </section>
    
{% endblock %}

