{% extends 'layout.html' %}

{% block body %}
<div class="text-center my-4">
<main role="main" class="inner cover">

    <h1 class="cover-heading">Welcome to <strong class="style-font">TechiE</strong></h1>
    <p class="lead">The community for for all the TechiE.</p>
    <p class="lead">TechiE is a Bangladeshi online publisher focusing on the stories of techies around the world. Any techie can share their stories related to their dream projects, specifically the things they faced while building their various applications, how they came up with the solutions of their embedded algorithms, and analysis of various emerging trends they put onto their projects.</p>
     {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-sm btn-dark">Register</a>
      <a href="/login" class="btn btn-sm btn-dark">login</a>
      {% endif %}
    </p>
  </main>
</div>
{% endblock  %}