{% extends "base.html" %}

{% block content %}
<article class="media content-section">
  <img src=" {{ url_for('static', filename='profile_pics/' + post.author.image_file )}} " alt="" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a href="{{ url_for('users.user_posts', username=post.author.username) }}" class="mr-2">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>

            {% if post.author == current_user %}
                <div>
                    <a href="{{ url_for('stories.update_post', post_id=post.id) }}" class="btn btn-sm btn-outline-success my-1">Update</a>
                    <button class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{post.title}}</h2>
        <p class="article-content">{{post.content}}</p>
    </div>
</article>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Story?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
         <form action="{{ url_for('stories.delete_post', post_id=post.id) }}" method="POST">
             <input type="submit" class="btn btn-danger btn-sm" value="Delete">
         </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}